body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f8ff;

}

.circuit {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #333;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.top-row,
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

img {
    width: 100px;
    margin: 10px;

}

/* on/ off switch */
.switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* When checked */
input:checked+.slider {
    background-color: #4caf50;
    /* green ON */

}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* BULB GLOW EFFECT */
.bulb.glow {
    filter: drop-shadow(0 0 20px yellow) drop-shadow(0 0 30px orange);
}

/* .slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

input[type=range] {
    width: 200px;
}

/* FLOW LINE */

.flow-line {
    height: 5px;
    width: 300px;
    background: linear-gradient(90deg, #ccc 50%, transparent 50%);
    background-size: 20px 100%;
    background-repeat: repeat-x;
    transition: background-color 0.3s;
}

/* .display {
    margin-top: 30px;
    background-color: #e0f7fa;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
} */

/* Animated flow */

.flow-on {
    animation: flow 1s linear infinite;
    background: linear-gradient(90deg, #00ff00 50%, transparent 50%);
    background-size: 20px 100%;
    background-repeat: repeat-x;
}

/* Keyframes flow */
@keyframes flow {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 20px 0;
    }
}